* {
  padding: 0;
  margin: 0;
}

body{
  background-color: grey;
}

header {
  background-color: #333; /* Color de fondo del encabezado */
  color: #fff; /* Color de texto del encabezado */
  width: 100%; /* Ancho completo del encabezado */
  height: 20%; /* Altura deseada del encabezado */
  box-sizing: border-box; /* Incluye el padding y el border en la altura y el ancho */
  padding: 20px; /* Espaciado interno del encabezado */
  display: flex; /* Flexbox para alinear elementos */
  justify-content: space-between; /* Espaciado entre elementos */
  align-items: center; /* Alinear elementos verticalmente */
  position: relative;
}

.titulo {
  font-size: 28px; /* Tamaño de fuente del nombre de la página */
  font-weight: bold; /* Peso de la fuente del nombre de la página */
  font-family: "Bebas Neue", sans-serif; /* fuente  */
  color: #fff; /* Color del texto */
  text-align: center; /* Alinear texto */
  margin: 0 auto; /* Centrar el texto */

}

.shoping a {
  color: #fff; /* Color del ícono */
  background-color: transparent; /* Fondo transparente */
  text-decoration: none; /* Sin subrayado */
  font-size: 20px; /* Tamaño del ícono */
  position: absolute; /* Posicionamiento absoluto */
  left: 9%; /* Desplazar desde la derecha */
  top: 50%; /* Centrar verticalmente */
  transform: translateY(-50%); /* Ajuste fino para centrar verticalmente */
  
}

.contenedor {
  position: relative;
  display: inline-block;
}

#bambas {
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

#bambas img {
  max-width: 100%;
  height: auto;
  margin-top: 25%;
  border: 1px solid #000;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.75);
}

.superpuesto {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.01); /* Gris semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
}

.superpuesto p {
  color: white; /* Color del texto */
  font-size: 24px; /* Tamaño del texto */
  text-align: center;
  padding: 20px; /* Espaciado interior */
  background-color: rgba(0, 0, 0, 0.23);
  width: 40%;
}

.c1 {
  text-align: center;
  margin: 10%;
  padding: 10%;
  border: 1px solid black; /* Corregir la coma */
}

a:not(main a) {
  margin: 0 auto;
}

.vacio {
  text-align: center;
  margin-top: 65%;
}

footer{
  
  background-color: #333; /* Color de fondo del encabezado */
  color: #fff; /* Color de texto del encabezado */
  width: 100%; /* Ancho completo del encabezado */
  height: 10%; /* Altura deseada del encabezado */
  box-sizing: border-box; /* Incluye el padding y el border en la altura y el ancho */
  padding: 20px; /* Espaciado interno del encabezado */
  text-align: center;
    font-family: "Bebas Neue", sans-serif;
    position: fixed;
  bottom: 0;
  width: 100%;
} 

.pp{
  font-size: 13px;
}

.pw{
  font-size: 8px;
  color: grey;
}